.custom_footer{
    position: absolute;
    width: 100%;
    height: 80px;
}
.custom_footer .custom_left{
    position: absolute;
    left: 13px;

}
.custom_footer .custom_right{
    position: absolute;
    right: 13px;
}